.truncate-gradient-text {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: linear-gradient(to right, #000 30%, transparent 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Para fondos oscuros */
.truncate-gradient-text-dark {
  background: linear-gradient(to right, #1a202c 0%, transparent 100%);
}
